<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>TextUtils</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0-beta1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-0evHe/X+R7YkIZDRvuzKMRqM+OrBnVFBL6DOitfPri4tjfHxaWutUpFmBp4vmVor" crossorigin="anonymous">
  </head>
  <body>
    <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
        <div class="container-fluid">
          <a class="navbar-brand" href="#"> TextUtils.com </a>
          <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
          </button>
          <div class="collapse navbar-collapse" id="navbarNav">
            <ul class="navbar-nav">
              <li class="nav-item">
                <a class="nav-link active" aria-current="page" href="#">Home</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="#">About us</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="#">Contact us</a>
              </li>
            </ul>
          </div>
        </div>
        <form class="d-flex" role="search">
            <input class="form-control me-2" type="search" placeholder="Search" aria-label="Search">
            <button class="btn btn-outline-success" type="submit">Search</button>
          </form>
      </nav>

      <div class="alert alert-primary alert-dismissible fade show" role="alert">
        <strong>Welcome to TextUtils</strong> You should check for some of those fields above to Sahil Chharra.
        <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
      </div>

      <div class = "container">
        <form action='/analyze' method='get'>
              <div class="mb-3">
                <label for="exampleFormControlTextarea1" class="form-label">Enter your Text Here</label>
                <textarea class="form-control" name='text' id="exampleFormControlTextarea1" rows="5"></textarea>
              </div>

          <div class="form-check form-switch">
            <input class="form-check-input" name="removepunc" type="checkbox" role="switch" id="flexSwitchCheckDefault1">
            <label class="form-check-label" for="flexSwitchCheckDefault">Remove Punctuations</label>
          </div>

          <div class="form-check form-switch">
            <input class="form-check-input" name="fullcaps" type="checkbox" role="switch" id="flexSwitchCheckDefault2">
            <label class="form-check-label" for="flexSwitchCheckDefault">UPPERCASE</label>
          </div>

          <div class="form-check form-switch">
            <input class="form-check-input" name="newlineremover" type="checkbox" role="switch" id="flexSwitchCheckDefault3">
            <label class="form-check-label" for="flexSwitchCheckDefault">New Line Remover</label>
          </div>

          <div class="form-check form-switch">
            <input class="form-check-input" name="extraspaceremover" type="checkbox" role="switch" id="flexSwitchCheckDefault4">
            <label class="form-check-label" for="flexSwitchCheckDefault">Extra Spaces Remover</label>
          </div>

          <button type="submit" class="btn btn-success mt=2">Analyze Text</button>
        </form>
        </div>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0-beta1/dist/js/bootstrap.bundle.min.js" integrity="sha384-pprn3073KE6tl6bjs2QrFaJGz5/SUsLqktiwsUTF55Jfv3qYSDhgCecCxMW52nD2" crossorigin="anonymous"></script>
  </body>
</html>